header {
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  height: 70px;
  width: 100%;
}

div.logo {
  background-image: url('../images/logo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  margin-left: 20px;
  background-position: left;
}
